p {
    color: rgb(128, 128, 128);
}

body {
    font-size: 80%;
}

#lastParagraph {
    color: orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.week6Paragraphs {
    color: navy;
    font-weight: bolder;
    background-color: beige;
}